* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    /* font-size: 25px; */
    font-family: 'Google Sans', Helvetica, Arial, sans-serif, "Montserrat";
    background-color: rgb(226, 238, 224);
}

/* #main{background-color: aquamarine;} .container{background-color: black;} .form-group{background-color:cornflowerblue;} .form-control{background-color: coral;} */

#main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2.6rem;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid red;
}

#photo-div {
    background-image: url(https://lh4.googleusercontent.com/ZziBuRfPl7nTEbp8dattzLvnxb49VWB0HEmFzyEmB_p1wE2hsSQYIxMOc6IlwtujzSK1FMqE61j5Gs0RMXfRsSQZexJ_CKhjKuPMVa882tQM9yK2Cwc46V1mwJ15qyV6Hg=w1200);
    background-size: cover;
    background-position: center;
    height: 160px;
    width: 640px;
    border-radius: 8px;
    margin: 0 auto;
}

#title {
    /* text-align: center; */
    font-weight: 400;
    /* color: #F5F5F7; */
    font-size: 32px;
}

#title-div {
    border-top: 10px solid rgb(61, 143, 45);
    height: 109px;
    width: 640px;
    background-color: #fff;
    margin: 10px auto;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 8px;
}

#description {
    margin-top: 12px; 
    font-weight: 500;
    font-size: 14px;
}



#survey-form {
    padding-top: 15px;
}

.form-group {
    font-size: 15px;
    max-width: 30rem;
    margin: 2rem auto 0;
}

.form-control {
    width: 30rem;
    height: 3rem;
    border-radius: 0.35rem;
    border: none;
    margin: 0 auto;
    outline: none;
}

input,
.form-control:placeholder-shown {
    padding-left: 1rem;
}

input:focus,
textarea:focus {
  border: 0.15rem solid #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
